#profile-account .profile-table {
  margin-top: 24px;
  grid-template-columns: 2fr 2fr 1fr 1fr;
}
#profile-account .profile-table > :nth-child(4n+1) {
  font-weight: bold;
}
#profile-account .profile-table .profile-table-textlink {
  border: 1px solid #2C41FF;
  width: 85px;
  min-height: 24px !important;
  line-height: 24px !important;
  display: block;
  text-align: center;
  position: absolute;
  right: 12px;
  top: 5px;
  box-sizing: border-box;
}
#profile-account .profile-table .profile-table-imagelink {
  display: none;
}

@media (max-width: 409px) {
  #profile-account .profile-table .profile-table-imagelink {
    display: block;
    position: absolute;
    right: 12px;
    top: 5px;
  }
  #profile-account .profile-table .profile-table-imagelink img {
    min-height: 24px !important;
    height: 24px;
    width: 24px;
  }
  #profile-account .profile-table .profile-table-textlink {
    display: none;
  }
}
