#index {
  margin-top: 16px;
  margin-bottom: 16px !important;
}
#index h2 {
  font-size: 24px;
  font-weight: bold;
}
#index #index-top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#index #index-top-grid .title {
  background: #fc495c;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  padding: 2px 8px;
  white-space: nowrap;
}
#index #index-top-grid #index-score {
  display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 38px repeat(4, 33px);
  font-weight: bold;
  margin-top: 16px;
  margin-left: 32px;
  justify-self: left;
  position: relative;
}
#index #index-top-grid #index-score a {
  color: #D7C7F1;
  font-weight: normal;
}
#index #index-top-grid #index-score a:hover {
  color: white;
  text-decoration: underline;
}
#index #index-top-grid #index-score .title {
  width: 41px;
}
#index #index-top-grid #index-score div {
  color: #FFFFFF;
}
#index #index-top-grid #index-score div:last-child {
  position: absolute;
  font-weight: normal;
  color: white;
  font-size: 12px;
  line-height: 16px;
  bottom: 175px;
  width: 221px;
  display: none;
}
#index #index-top-grid > :nth-child(2) {
  height: 422px;
}
#index #index-top-grid #index-balance {
  border: 1px solid #18A0FB;
  width: 250px;
  height: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 16px auto 0px;
  overflow: hidden;
}
#index #index-top-grid #index-balance.show-free-bets {
  width: 375px;
  grid-template-columns: 120px 120px 135px;
}
#index #index-top-grid #index-balance.show-free-bets :nth-child(3) {
  display: block;
  color: #FAD557;
  background: #009d00;
  font-weight: bold;
}
#index #index-top-grid #index-balance.show-free-bets :nth-child(3):hover {
  cursor: pointer;
  background: #5a52df;
}
#index #index-top-grid #index-balance.wait {
  width: 340px;
  grid-template-columns: 100px 120px 120px;
}
#index #index-top-grid #index-balance.wait :nth-child(3) {
  display: block;
  font-size: 14px;
  line-height: 23px;
}
#index #index-top-grid #index-balance.wait :nth-child(3) span {
  color: #FAD557;
  font-weight: bold;
}
#index #index-top-grid #index-balance > * {
  line-height: 48px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
}
#index #index-top-grid #index-balance > :nth-child(1) {
  border-right: 0.5px solid #18A0FB;
  font-size: 16px;
}
#index #index-top-grid #index-balance > :nth-child(2) {
  border-left: 0.5px solid #18A0FB;
  font-size: 24px;
  background: #756CFF;
  position: relative;
}
#index #index-top-grid #index-balance > :nth-child(3) {
  display: none;
}
#index #index-top-grid #index-history {
  margin-right: 32px;
  margin-top: 16px;
}
#index #index-top-grid #index-history > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #FFFFFF;
}
#index #index-top-grid #index-history > div div {
  justify-self: center;
}
#index #index-top-grid #index-history .index-history-head {
  font-weight: bold;
  border-bottom: 1px solid #18A0FB;
  grid-template-rows: 38px 32px;
}
#index #index-top-grid #index-history .index-history-body {
  grid-template-rows: repeat(auto-fill, 30px);
  height: 298px;
  overflow: auto;
  font-size: 16px;
  margin-top: 5px;
}
#index #index-top-grid #index-history .index-history-body::-webkit-scrollbar {
  width: 3px;
  background: rgba(255, 255, 255, 0.1882352941);
}
#index #index-top-grid #index-history .index-history-body::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 3px;
}
#index #index-top-grid #index-history .index-history-body div {
  height: 30px;
}
#index #index-operations {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 16px;
  margin: 24px auto 0px;
  width: 1048px;
}
#index #index-operations.auto-mode {
  grid-template-rows: 20px 48px 28px 20px 48px 20px 48px;
}
#index #index-operations #index-toggle-auto {
  justify-self: center;
  align-self: center;
  line-height: 48px;
  height: 48px;
}
#index #index-operations #index-toggle-auto span.selected {
  font-weight: bold;
  color: #141d71;
}
#index #index-operations #index-toggle-auto .switch {
  transform: translateY(-12px);
}
#index #index-operations #index-toggle-auto span {
  color: #645BF8;
}
#index #index-operations #index-toggle-auto span:hover {
  cursor: pointer;
}
#index #index-operations .index-operations-top {
  color: #141d71;
  font-size: 16px;
  margin-left: 8px;
}
#index #index-operations .index-operations-bottom {
  color: #222;
  font-size: 12px;
  line-height: 18px;
  margin-left: 8px;
}
#index #index-operations input[type=number] {
  font-size: 20px;
  padding-left: 16px;
  padding-right: 16px;
  height: 48px;
}
#index #index-operations button {
  font-size: 32px;
}
#index #index-bottom-grid {
  display: grid;
  width: 936px;
  grid-template-columns: repeat(2, 440px);
  margin: 48px auto;
  gap: 32px 56px;
  transition: color 2s;
}
#index #index-bottom-grid span:nth-child(1), #index #index-bottom-grid span:nth-child(2) {
  font-weight: bold;
  font-size: 24px;
}
#index #index-bottom-grid.dark-mode {
  color: lightgray;
}
#index #index-history-mobile {
  display: none;
  margin-right: 42px;
  margin-top: 32px;
}
#index #index-history-mobile > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #FFFFFF;
}
#index #index-history-mobile > div div {
  justify-self: center;
}
#index #index-history-mobile .index-history-head {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #18A0FB;
  grid-template-rows: 38px 32px;
}
#index #index-history-mobile .title {
  background: #fc495c;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  padding: 2px 8px;
  white-space: nowrap;
}
#index #index-history-mobile .index-history-body {
  grid-template-rows: repeat(auto-fill, 30px);
  height: 298px;
  overflow: auto;
  font-size: 16px;
  margin-top: 5px;
}
#index #index-history-mobile .index-history-body::-webkit-scrollbar {
  width: 3px;
  background: rgba(255, 255, 255, 0.1882352941);
}
#index #index-history-mobile .index-history-body::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 3px;
}
#index #index-history-mobile .index-history-body div {
  height: 30px;
}

@media (max-width: 1000px) {
  #index {
    padding: 5px 16px;
    margin-bottom: 0 !important;
  }
  #index #index-top-grid {
    grid-template-columns: 1fr;
  }
  #index #index-top-grid #index-score {
    margin-left: 0;
    display: none;
  }
  #index #index-top-grid #index-history {
    display: none;
  }
  #index #index-bottom-grid {
    margin: 0;
    box-sizing: border-box;
    gap: 5px;
    width: 100%;
    grid-template-columns: 1fr;
  }
  #index #index-bottom-grid > span:nth-child(1) {
    order: 0;
  }
  #index #index-bottom-grid > span:nth-child(2) {
    order: 1;
  }
  #index #index-bottom-grid > span:nth-child(3) {
    order: 0;
  }
  #index #index-bottom-grid > span:nth-child(4) {
    order: 1;
  }
  #index #index-history-mobile {
    margin-right: 0;
    margin-bottom: 32px;
    display: block;
  }
}
@media (max-width: 1051px) {
  #index #index-operations {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 5px;
  }
  #index #index-operations.auto-mode {
    grid-template-rows: auto;
  }
  #index #index-operations > * {
    height: 48px;
  }
  #index #index-operations > :nth-child(8) {
    order: -1;
  }
  #index #index-operations > :nth-child(2), #index #index-operations > :nth-child(6), #index #index-operations > :nth-child(10) {
    order: 1;
  }
  #index #index-operations > :nth-child(3), #index #index-operations > :nth-child(7), #index #index-operations > :nth-child(11) {
    order: 2;
  }
  #index #index-operations > :nth-child(5) {
    order: 3;
  }
  #index #index-operations > :nth-child(14), #index #index-operations > :nth-child(18), #index #index-operations > :nth-child(19), #index #index-operations > :nth-child(22), #index #index-operations > :nth-child(26), #index #index-operations > :nth-child(27) {
    order: 4;
  }
  #index #index-operations > :nth-child(1), #index #index-operations > :nth-child(4), #index #index-operations > :nth-child(9), #index #index-operations > :nth-child(12), #index #index-operations > :nth-child(13), #index #index-operations > :nth-child(15), #index #index-operations > :nth-child(16), #index #index-operations > :nth-child(17), #index #index-operations > :nth-child(20), #index #index-operations > :nth-child(21), #index #index-operations > :nth-child(23), #index #index-operations > :nth-child(24), #index #index-operations > :nth-child(25), #index #index-operations > :nth-child(28) {
    display: none;
  }
  #index #index-operations > :nth-child(2), #index #index-operations > :nth-child(3), #index #index-operations > :nth-child(14), #index #index-operations > :nth-child(22) {
    height: 20px;
    margin-top: 5px;
  }
  #index #index-operations > :nth-child(10), #index #index-operations > :nth-child(11) {
    height: 16px;
  }
  #index #index-operations > :nth-child(27) {
    margin-bottom: 10px;
  }
}
