@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BadaBoom&display=swap');

body {
  margin: 0;
  font-family: 'roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 500px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.invite-btn-gradient-border {
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #4444E0 100%);
  border-image-slice: 1; /* This ensures the gradient covers the border */
  border-width: 1px; /* Adjust this if you want a different border width */
}

.invite-btn-shadow {
  box-shadow: 0px 2px 0px 0px #191998;
}